<h1>당신의 이번학기 학점은?</h1>
<p>당신이 듣는 과목을 작성하시오</p>

<form action="/game/value" method="POST">
<input type="text" name="one"></br>
<input type="text" name="two"></br>
<input type="text" name="three"></br>
<input type="text" name="four"></br>
<input type="text" name="five"></br>
<input type="text" name="six"></br>
<input type="submit">
</form>